<h4>Size</h4>

<%= search_form_for @q do |f| %>
<div style="display:none;">
  <%= f.search_field :size_lteq, value: '100' %>
  <%= f.search_field :size_gteq, value: '0' %>
</div>
<%= f.submit "< 100 sqft", style: get_custom_black_colored_class_for_size("0", "100", params[:q]) %>
<% end %>


<% min_max_size = {"100" => "500", "500" => "1000", "1000" =>"2500", "2500" => "5000", "5000" => "10000" } %>
<% min_max_size.each do |item| %>
  <%= search_form_for @q do |f| %>
    <div style="display:none;">
      <%= f.search_field :size_gteq, value: item.first %>
      <%= f.search_field :size_lteq, value: item.last %>
    </div>
  <%= f.submit "#{item.first}-#{item.last} sqft", style: get_custom_black_colored_class_for_size(item.first, item.last, params[:q]) %>
  <% end %>
<% end %>


<br>
<h4>Price</h4>

<%= search_form_for @q do |f| %>
  <div style="display:none;">
    <%= f.search_field :price_gteq, value: '0' %>
    <%= f.search_field :price_lteq, value: '500' %>
  </div>
  <%= f.submit "low", style: get_custom_black_colored_class_for_price("0", "500", params[:q]) %>
<% end %>

<%= search_form_for @q do |f| %>
  <div style="display:none;">
    <%= f.search_field :price_gteq, value: '500' %>
    <%= f.search_field :price_lteq, value: '1500' %>
  </div>
  <%= f.submit "medium", style: get_custom_black_colored_class_for_price("500", "1500", params[:q]) %>
<% end %>

<%= search_form_for @q do |f| %>
  <div style="display:none;">
    <%= f.search_field :price_gteq, value: '1500' %>
    <%= f.search_field :price_lteq, value: '50000' %>
  </div>
  <%= f.submit "high", style: get_custom_black_colored_class_for_price("1500", "50000", params[:q]) %>
<% end %>

