<h4>Size</h4>

<%= search_form_for @q do |f| %>
<div style="display:none;">
  <%= f.search_field :zipcode_eq %>
  <%= f.search_field :size_lteq, value: '100' %>
</div>
<%= f.submit "< 100 sqft" %>
<% end %>

<%= search_form_for @q do |f| %>
<div style="display:none;">
  <%= f.search_field :zipcode_eq %>
  <%= f.search_field :size_gteq, value: '100' %>
  <%= f.search_field :size_lteq, value: '500' %>
</div>
<%= f.submit "100-500 sqft" %>
<% end %>

<%= search_form_for @q do |f| %>
<div style="display:none;">
  <%= f.search_field :zipcode_eq %>
  <%= f.search_field :size_gteq, value: '500' %>
  <%= f.search_field :size_lteq, value: '1000' %>
</div>
<%= f.submit "500-1000 sqft" %>
<% end %>

<%= search_form_for @q do |f| %>
<div style="display:none;">
  <%= f.search_field :zipcode_eq %>
  <%= f.search_field :size_gteq, value: '1000' %>
  <%= f.search_field :size_lteq, value: '2500' %>
</div>
<%= f.submit "1000-2500 sqft" %>
<% end %>

<%= search_form_for @q do |f| %>
<div style="display:none;">
  <%= f.search_field :zipcode_eq %>
  <%= f.search_field :size_gteq, value: '2500' %>
  <%= f.search_field :size_lteq, value: '5000' %>
</div>
<%= f.submit "2500-5000 sqft" %>
<% end %>

<%= search_form_for @q do |f| %>
<div style="display:none;">
  <%= f.search_field :zipcode_eq %>
  <%= f.search_field :size_gteq, value: '5000' %>
  <%= f.search_field :size_lteq, value: '10000' %>
</div>
<%= f.submit "5000-10000 sqft" %>
<% end %>
