<h4>Size</h4>

<%= search_form_for @q do |f| %>
<div style="display:none;">
  <%= f.search_field :zipcode_eq %>
  <%= f.search_field :size_lteq, value: '100' %>
</div>
<%= f.submit "< 100 sqft" %>
<% end %>


<% min_max_size = {"100" => "500", "500" => "1000", "1000" =>"2500", "2500" => "5000", "5000" => "10000" } %>
<% min_max_size.each do |item| %>
  <%= search_form_for @q do |f| %>
    <div style="display:none;">
      <%= f.search_field :zipcode_eq %>
      <%= f.search_field :size_gteq, value: item.first %>
      <%= f.search_field :size_lteq, value: item.last %>
    </div>
  <%= f.submit "#{item.first}-#{item.last} sqft" %>
  <% end %>
<% end %>


<br>
<h4>Price</h4>

<%= search_form_for @q do |f| %>
  <div style="display:none;">
    <%= f.search_field :price_lteq, value: '500' %>
  </div>
  <%= f.submit "low" %>
<% end %>

<%= search_form_for @q do |f| %>
  <div style="display:none;">
    <%= f.search_field :price_gteq, value: 500 %>
    <%= f.search_field :price_lteq, value: 1500 %>
  </div>
  <%= f.submit "medium" %>
<% end %>

<%= search_form_for @q do |f| %>
  <div style="display:none;">
    <%= f.search_field :price_gteq, value: 1500 %>
  </div>
  <%= f.submit "high" %>
<% end %>

