<!DOCTYPE html>
<html>
<%= render 'layouts/head' %>
<body>
  <%= render 'layouts/header' %>
  <br>
  <div class="container main_content">
    <div class="page-header" id="banner">
      <div class="row">
        <% flash.each do |name, msg| %>
        <div class="alert alert-<%= name.to_s == "notice" ? "success" : "danger" %>" role="alert" >
          <a class ="close" data-dismiss="alert">x</a>
          <%= msg %>
        </div>
        <% end %>
        <%= yield %>
      </div>
    </div>
  </div>
<%= render "layouts/modal_for_request_for_space" %>
<%= render "layouts/modal_for_post_a_space" %>
</body>
</html>
